/* Project CSS 
============================================================
============================================================*/

/*Purple: #8E3A59, Blue: #7C98AB*/
body {
    background: #dff6ff url('../img/confectionary.png');
    /*padding:20px;*/
    font-family:'Open Sans', Arial, sans-serif;
}

body > * > * {
    min-width:960px;
    max-width:1200px;
    width:80%;
    margin:0 auto;
    padding:30px;
}

h1, h2, h3, h4, h5, h6 {
    color: #823354;
    font-weight:600;
}

h1 {
    font-size:2.5rem;
    margin:.6rem 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:500;
}

h2 {
    font-size:1.8rem;
    margin:.6rem 0;
}

h3 {
    font-size:1.6rem;
    margin: .6rem 0;
}

p {
    padding:.4rem 0;
}

/* HEADER ============================== */

div.headWrap{
    background-color:#b8c294;
    padding:18px 0 20px 0;
}
header > h1{
    font-size:4rem;
    letter-spacing:-.2rem;
    margin:0;
    line-height:4rem;
    vertical-align:middle;
    display:inline-block;

}

header > h1 > span, header > p{
    font-weight:300;
}

header > p:last-of-type{
    color: #823354;
    font-size:1.8rem;
    letter-spacing:-.08rem;
    /*top:-20px;*/
    display:inline-block;
    /*position:relative;*/
    /*top:-.4rem;*/
    vertical-align:middle;
    padding-left:.4rem;
}

/* MAIN ============================== */
main article {
    margin-bottom:10px;
}

main section{
    background-color: rgba(207, 165, 185, 0.23);
    border:2px solid rgba(128, 0, 55, 0.43);
    border-radius:6px;
}

main section h2 {
    margin:0;
    font-size:2.5rem;
    font-weight:700;
}

main section article{
    margin:1rem 0;
}

main section article h3{
    background-color:#823354;
    margin:2rem 0 0 0;
    padding:15px 10px;
    color:#fff;
    font-size:2rem;
}

main section article > figure{
    margin:0 0 .6rem 0;
    text-align:center;
    background-color:#fff;
}

main section article figure img{
    max-width:1136px;
}
/* ABOUT ============================== */

/* COMPONENTS ============================== */
