/* Component Stylesheet 
============================================================
============================================================*/

header {
    width:1170px;
    margin:0 auto;
    padding:124px 0 99px 0;
    border-bottom:51px solid #3598db;
    position:relative;
}

header > *{
    display:inline-block;
    font-size:0;
    vertical-align:middle;
}

header > h1, header > p{
    font-size:0;

}

header > img{
    width:33.333%;
    max-width:301px;
}

header > nav{
    display:inline-block;
    text-align:right;
    width:66.66666%;
    margin-left:77px;
}

header > nav > ul{
    vertical-align:top;
    font-size:0;
    float:right;
}

header > nav > ul > li{
    display:inline-block;
    font-size:14px;
}

header > nav > ul > li:not(:first-of-type){
    margin-left:47px;
}

header > nav > ul > li:last-of-type a:link{
    font-size:0;
    background:#3598db;
    height:40px;
    width:40px;
    text-align:center;
}

header > nav > ul > li:nth-child(1), header > nav > ul > li:nth-child(3){
    padding-right:22px;
}

header > nav > ul > li:nth-child(1) > a, header > nav > ul > li:nth-child(3) > a{
    position:relative;
}

header > nav > ul > li:nth-child(1) > a::after, header > nav > ul > li:nth-child(3) > a::after{
    content: '\f078';
    font-family: FontAwesome;
    position: absolute;
    right: -15px;
    font-size: 8px;
    font-weight: 400;
    line-height:23px;
    color:#404040;
}

header > nav > ul > li > a.fa-user::before{
    font-size:24px;
    line-height:40px;
    font-family: 'FontAwesome';
    color:#fff;
}

header > nav > ul > li > a:link, header > nav > ul > li > a:visited{
    color:#404040;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight:600;
    font-size:14px;
    line-height:23px;
    text-transform: uppercase;
}

header > nav > ul > li > a:hover, header > nav > ul > li > a.active, header > nav > ul > li > a:hover:after, header > nav > ul > li > a.active:after{
    color:#3598db;
}

header > nav > ul > li > ul {
    display:none;
    position:absolute;
    text-align:left;
    left:0;
    padding:24px 1px 23px 3px;
    margin-top:43px;
    background-color: #f5f5f5;
    list-style:none;
    font-size:0;
}

header > nav > ul > li:hover > ul{
    display:block;
}

header > nav > ul > li > ul > li > section{
    display:inline-block;
    width:33.333%;
    vertical-align:top;
    font-size:14px;
    font-family:Arial, sans-serif;
    padding:0 28px 23px 28px;
}

header > nav > ul > li > ul > li > section > h3 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:20px;
    font-weight: 300;
    text-transform: uppercase;
    color:#3598db;
    margin:0 0 18px 0;
}
header > nav > ul > li > ul > li > section > h3:not(:first-of-type){
    margin:23px 0 18px 0;
}

header > nav > ul > li > ul > li > section p{
    color:#bbbaba;
    line-height:23px;
}

header > nav > ul > li > ul > li > section:nth-of-type(1) img{
    margin-bottom:13px;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) img{
    width:35%;
    margin: 0 30px 48px 0;
    float:left;
    clear:both;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) p time{
    color:#3598db;
    text-transform: uppercase;
    line-height:18px;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) h4{
    line-height:18px;
    text-transform: uppercase;
    margin-bottom:10px;
    font-weight:300;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) h4 a:link, header > nav > ul > li > ul > li > section:nth-of-type(2) h4 a:visited, header > nav > ul > li > ul > li > section:nth-of-type(2) h4 a:focus{
    color: #31353d;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) h4 a:hover{
    color:#3598db;
}

header > nav > ul > li > ul > li > section:nth-of-type(2) article{
    margin-bottom:10px;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li{
    padding:0 0 6px 28px;
    list-style: none;
    position: relative;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li:not(:first-of-type){
    margin-top:7px;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul:nth-of-type(2) > li:not(:first-of-type){
    margin-top:16px;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li:before {
    content: "\f054";
    font: 12px/23px FontAwesome;
    color: #3598db;
    position: absolute;
    left:0;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li a:link, header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li a:focus, header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li a:visited{
    color:#31353d;
    line-height: 23px;
    text-transform: uppercase;
}

header > nav > ul > li > ul > li > section:nth-of-type(3) > ul > li a:hover {
    color:#3598db;
}