<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Simeon Smith</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<header>
		<h1>Construx</h1>
        <p>Construction Company</p>
        <img src="img/logo.png" alt="Construx Construction Company Logo"/>

        <nav>
            <ul>
                <li><a href="#" class="active">Home</a>
                    <ul>
                        <li>
                            <section>
                                <img src="img/megamenu_about.jpg" alt="Construction Crane"/>
                                <h3>About Us</h3>
                                <p>Dolor nunc vule putateulr ips dol consec. Donec sem ertet laciniate ultricie upie disse dolor comete dolo lectus. fgilla itollicil tua ludin dolor nec met quam accumsan. Dolore con dime netus lullam utlacus adipisci.</p>
                            </section>
                            <section>
                                <h3>Latest News</h3>
                                <article>
                                    <p><a href="#"><img src="img/blog-thumb1.jpg" alt="Construction Worker"></a></p>
                                    <p><time datetime="2015-02-19">19 February 2015</time></p>
                                    <h4><a href="#">Lorem Ipsum Dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet conse ctetur ...</p>
                                </article>
                                <article>
                                    <p><a href="#"><img src="img/blog-thumb2.jpg" alt="Crane"></a></p>
                                    <p><time datetime="2015-02-18">18 February 2015</time></p>
                                    <h4><a href="#">Lorem Ipsum Dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet conse ctetur ...</p>
                                </article>
                                <article>
                                    <p><a href="#"><img src="img/blog-thumb3.jpg" alt="Workers on Scaffolding."></a></p>
                                    <p><time datetime="2015-02-17">17 February 2015</time></p>
                                    <h4><a href="#">Lorem Ipsum Dolor</a></h4>
                                    <p>Lorem ipsum dolor sit amet conse ctetur ...</p>
                                </article>
                            </section>
                            <section>
                                <h3>Categories</h3>
                                <ul>
                                    <li><a href="#">Lorem Ipsum Dolor</a></li>
                                    <li><a href="#">Conse Ctetur Adipisicing</a></li>
                                    <li><a href="#">Elit Seed Do Eiusmod Tempor</a></li>
                                    <li><a href="#">Incididunt Ut Labore</a></li>
                                    <li><a href="#">Et Dolore Magna Aliqua</a></li>
                                </ul>

                                <h3>New In Our Services</h3>
                                <ul>
                                    <li><a href="#">Lorem Ipsumm Dolor Sit Amet</a></li>
                                    <li><a href="#">Conse Ctetur Adipiscing</a></li>
                                    <li><a href="#">Incididunt Ut Labore</a></li>
                                </ul>
                            </section>
                        </li>
                    </ul>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#" class="fa fa-user">User Login</a></li>
            </ul>
        </nav>
	</header>
	<!-- End Component -->
	
</body>
</html>