<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>

    <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<main>
        <article>
            <p>Without good marketing, very little will sell itself</p>
            <img src="img/heroBG-slide1.jpg" alt="Web marketing flow image."/>
        </article>
    </main>
	<!-- End Component -->
	
</body>
</html>