<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Simeon Smith</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="script.js"></script>
	
</head>
<body>

	<!-- Component -->
	<main>
        <article>
            <ul>
                <li>
                    <p>Without good marketing, very little will sell itself</p>
                </li>
                <li style="display:none;">
                    <p>Business has only two functions- marketing and innovation</p>
                </li>
            </ul>

            <div>
                <button class="fa fa-angle-left prev">Prev</button>
                <button class="fa fa-angle-right next">Next</button>
            </div>
        </article>
    </main>
	<!-- End Component -->
	
</body>
</html>