/* Component Stylesheet
============================================================
============================================================*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height:1.42857143;
    color:#333;
}

body main article {
    height:652px;
    position:relative;
    width:1903px;
    overflow:hidden;
    max-width:100%;
}

body main article img {
    width:100%;
    display:inline-block;
    vertical-align:middle;
}

body main article p {

    line-height:80px;
    display:block;
    letter-spacing: -0.7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size:72px;
    width: 623px;
    top:50%;
    left: 19%;
    position:absolute;
    transform: translateY(-50%);
}

body main article a.fa{
    top:50%;
    z-index:3;
    font-size:0;
    position:absolute;
    transform: translateY(-50%);
}

body main article a {
    color:#fff;
    cursor: pointer;
}

body main article a.prev{
    left: 3%;
}

body main article a.next{
    right:3%;
}

body main article a::before{
    font-size:55px;
    line-height:1;
}

body main article a:hover{
    color:#333;
}