/* Component Stylesheet 
============================================================
============================================================*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height:1.42857143;
    color:#333;
}

body main article {
    padding-top:13px;
    height:869px;
    position:absolute;
    width:2511px;
    overflow:hidden;
    max-width:100%;
}

body main article img {
    width:100%;
    display:inline-block;
    vertical-align:middle;
}

body main article p {
    line-height:80px;
    display:block;
    letter-spacing: -0.7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #5b595d;
    font-size:72px;
}