/* Component Stylesheet
============================================================
============================================================*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height:1.42857143;
    color:#333;
}

body main article {
    height:652px;
    position:relative;
    width:1903px;
    overflow:hidden;
    max-width:100%;
}

body main article ul li{
    height:658px;
}

body main article ul li:first-of-type{
    background: url("img/heroBG-slide1.jpg") center;
}

body main article ul li:nth-of-type(2){
    background: url("img/heroBG-slide2.jpg") center;
}

body main article img {
    width:100%;
    display:inline-block;
    vertical-align:middle;
}

body main article p {

    line-height:80px;
    display:block;
    letter-spacing: -0.7px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
    font-size:72px;
    width: 623px;
    top:50%;
    left: 19%;
    position:absolute;
    transform: translateY(-50%);
}

body main article button.fa{
    top:50%;
    z-index:3;
    font-size:0;
    position:absolute;
    transform: translateY(-50%);
}

body main article button, body main article button:focus {
    color:#fff;
    cursor: pointer;
    background:none;
    border:none;
    margin:0;
    padding:0;
    outline:none;
    transition: color .2s;
}

body main article button.fa-angle-left{
    left: 3%;
}

body main article button.fa-angle-right{
    right:3%;
}

body main article button::before{
    font-size:55px;
    line-height:1;
}

body main article button:hover{
    color:#333;
    transition: color .2s;
}