<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800|Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <main>
        <form>
            <h2>Contact Form</h2>
            <input type="text" name="name" placeholder="Your Name"/>
            <input type="email" name="email" placeholder="Your E-mail"/>
            <input type="tel" name="phone" placeholder="Your Phone"/>
            <textarea name="message" placeholder="Message"></textarea>
            <input type="submit" value="Submit My Question">
        </form>
    </main>
	<!-- End Component -->
	
</body>
</html>