<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800|Montserrat:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
    <article>
        <form>
            <h2>Contact Form</h2>
            <p>
                <label>Name
                    <input type="text" name="name" placeholder="Your Name"/>
                </label>
            </p>
            <p>
                <label>E-Mail
                    <input type="email" name="email" placeholder="Your E-mail"/>
                </label>
            </p>
            <p>
                <label>Phone Number
                    <input type="tel" name="phone" placeholder="Your Phone"/>
                </label>
            </p>
            <p>
                <label>Message
                    <textarea name="message" placeholder="Message"></textarea>
                </label>
            </p>
            <p><input type="submit" value="Submit My Question"></p>
        </form>
    </article>
	<!-- End Component -->
	
</body>
</html>