/* Component Stylesheet 
============================================================
============================================================*/
body{
    font-family: 'Open Sans', Arial, sans-serif;
}

main {
    width:1200px;
    margin: 20px auto;
}

form {
    padding:0 15px;
}

form h2{
    font-weight:800;
    font-size:54px;
    margin-bottom:60px;
    line-height:50px;
}

form input{
    width:30.8333%;
    margin:0 1.25% 30px 1.25%;
    border:2px solid #c7d2da;
    padding:8px 20px;
    border-radius:30px;
    font-size:18px;
}

form input:first-of-type{
    margin-left:0;
}

form input:last-of-type{
    margin-right:0;
}

form textarea {
    padding:8px 20px;
    margin-bottom:30px;
    border:2px solid #c7d2da;
    border-radius:30px;
    font-size:18px;
    width:100%;
    height:240px;
}

form input[type="submit"]{
    border:none;
    padding: 15px 55px;
    color:#fff;
    font:600 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    background:#c7d2da;
    margin:0;
    width:auto;
}

form input[type="submit"]:hover{
    background:#2cbc62;
}