<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik+One|Rubik:400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="flaticon.css">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<main>
        <section>
            <article>
                <p class="sale">Sale!</p>
                <img src="img/product-1.png" alt="Citizen Men's"/>
                <h4>Citizen Men's</h4>
                <p><ins>$60.00</ins></p>
                <p><del>$100.00</del></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
            <article class="banner">
                <img src="img/banner.jpg" alt="Artist clock photo banner." />
                <section>
                    <h3>Men's Watches</h3>
                    <button>Shop Now</button>
                </section>
            </article>
            <article>
                <img src="img/product-2.png" alt="Diesel Watch"/>
                <h4>Diesel Watch</h4>
                <p>$1,000.00</p>
                <p><br></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
            <article>
                <p class="sale">Sale!</p>
                <img src="img/product-3.png" alt="Sport Pulse Watch"/>
                <h4>Sport Pulse Watch</h4>
                <p><ins>$150.00</ins></p>
                <p><del>$200.00</del></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
            <article>
                <p class="sale">Sale!</p>
                <img src="img/product-4.png" alt="Motorola Moto 360 Watch"/>
                <h4>Motorola Moto 360</h4>
                <p><ins>$90.00</ins></p>
                <p><del>$1,000.00</del></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
            <article>
                <p class="sale">Sale!</p>
                <img src="img/product-5.png" alt="Citizen Original Watch"/>
                <h4>Citizen Original</h4>
                <p><ins>$400.00</ins></p>
                <p><del>$500.00</del></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
            <article>
                <p class="sale">Sale!</p>
                <img src="img/product-6.png" alt="Samsung Galaxy Gear Watch"/>
                <h4>Samsung Galaxy Gear</h4>
                <p><ins>$90.00</ins></p>
                <p><del>$100.00</del></p>
                <ul><!--
                    --><li><button class="flaticon-shuffle17" title="Shuffle">Shuffle</button></li><!--
                    --><li><button class="flaticon-like51" title="Like">Like</button></li><!--
                    --><li><button class="flaticon-shopping199" title="Add to Cart">Add to Cart</button></li><!--
                --></ul>
            </article>
        </section>
    </main>
	<!-- End Component -->
	
</body>
</html>