<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
    <link href='https://fonts.googleapis.com/css?family=Rubik+One|Rubik:400,500' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="flaticon.css">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>

	<!-- Component -->
	<main>
        <article>
            <div class="wrapper">
                <figure>
                    <p class="sale">Sale!</p>
                    <img src="img/product-1.png" alt="Citizen Men's"/>
                    <h4>Citizen Men's</h4>
                    <p>$60.00</p>
                    <p>$100.00</p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
            <div class="wrapper banner">
                <figure>
                    <img src="img/banner.jpg" alt="Artist clock photo banner." />
                    <figcaption>
                        <h3>Men's Watches</h3>
                        <button>Shop Now</button>
                    </figcaption>
                </figure>
            </div>
            <div class="wrapper">
                <figure>
                    <img src="img/product-2.png" alt="Diesel Watch"/>
                    <h4>Diesel Watch</h4>
                    <p>$1,000.00</p>
                    <p><br></p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
            <div class="wrapper">
                <figure>
                    <p class="sale">Sale!</p>
                    <img src="img/product-3.png" alt="Sport Pulse Watch"/>
                    <h4>Sport Pulse Watch</h4>
                    <p>$150.00</p>
                    <p>$200.00</p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
            <div class="wrapper">
                <figure>
                    <p class="sale">Sale!</p>
                    <img src="img/product-4.png" alt="Motorola Moto 360 Watch"/>
                    <h4>Motorola Moto 360</h4>
                    <p>$90.00</p>
                    <p>$1,000.00</p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
            <div class="wrapper">
                <figure>
                    <p class="sale">Sale!</p>
                    <img src="img/product-5.png" alt="Citizen Original Watch"/>
                    <h4>Citizen Original</h4>
                    <p>$400.00</p>
                    <p>$500.00</p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
            <div class="wrapper">
                <figure>
                    <p class="sale">Sale!</p>
                    <img src="img/product-6.png" alt="Samsung Galaxy Gear Watch"/>
                    <h4>Samsung Galaxy Gear</h4>
                    <p>$90.00</p>
                    <p>$100.00</p>
                    <ul><!--
                        --><li><a href="#" class="flaticon-shuffle17 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-like51 icon"></a></li><!--
                        --><li><a href="#" class="flaticon-shopping199 icon"></a></li><!--
                    --></ul>
                </figure>
            </div>
        </article>
    </main>
	<!-- End Component -->
	
</body>
</html>