/* Component Stylesheet 
============================================================
============================================================*/

body {
    background-color:#eceff1;
    font-family:'Rubik', sans-serif;
    font-weight:400;
    padding:20px;
}

del{
    text-decoration: line-through;
}

body main{
    width:1200px;
    margin: 0 auto;
}

main section {
    font-size:0;
}

/*main section div.wrapper{*/
    /*padding: 0 15px;*/
    /*width:25%;*/
    /*display:inline-block;*/
    /*vertical-align:top;*/
    /*font-size:initial;*/
/*}*/

main section article {
    width: 22.5%;
    margin:0 1.25% 30px 1.25%;
    background-color:#fff;
    position:relative;
    text-align:center;
    display: inline-block;
    vertical-align:top;
    padding-bottom:47px;
    font-size:initial;
}

main section article p:first-of-type{
    position:absolute;
    top:0;
    left:0;
    background-color:#2196f3;
    color:#fff;
    line-height:29px;
    padding:0 8px;
    font-size:13px;
    display:inline-block;
    margin-top:0;
}

main section article img{
    padding:5%;
    width:100%;
}

main section article h4{
    font-size:14px;
    font-weight:500;
    text-transform:uppercase;
    line-height:26px;
    letter-spacing:1px;
}

main section article p, main section article p:last-of-type{
    line-height:20px;
    font-size:14px;
    color:#90a4ae;
}

main section article p{
    margin:0;
}

main section article p:nth-of-type(2){
    margin-top:8px;
    font-weight:500;
}

main section article ul {
    padding:0;
    list-style: none;
    margin-top: 9px;
    text-align:center;
}

main section article li {
    display:inline-block;
    text-align:center;
    margin: 0 10px;
}

main section article li > button.icon::before{
    margin:0;
    font-size:24px;
    line-height:26px;
}

main section article li > button{
    color:#cfd8dc;
    margin:0;
    padding:0;
    background:none;
    border:none;
    cursor:pointer;
    font-size:0;
}

main section article li > button:hover{
    color:#2196f3;
}

main section article:nth-child(2){
    width: 47.5%;
    font-size:0;
}

main section article:nth-child(2){
    padding-bottom:0;
}

main section article:nth-child(2) img{
    padding:0;
}

main section article:nth-child(2) section{
    position:absolute;
    top:50%;
    width:100%;
    transform:translateY(-65%);
    z-index:4;
    font-size:initial;
    color:#fff;
}

main section article:nth-child(2) section h3{
    font-size:34px;
    line-height:55px;
    letter-spacing: 2px;
    margin-bottom:20px;
    font-weight:500;
    text-transform: uppercase;
}

main section article:nth-child(2) section button{
    font-size:15px;
    text-transform: uppercase;
    font-weight:600;
    /*font-weight:500;*/
    letter-spacing:2px;
    padding:13px 38px;
    border: 3px solid #fff;
    background:none;
    color:#fff;
}